#attr1 > ul > li > a[href] {
  background-color: red;
  color: white;
}
#attr1 a[href] {
  background-color: red;
  color: white;
}


#attr2 a[type="ultimate"] {
  background-color: blue;
  color: white;
  font-weight: bold;
}


#attr3 a[class~="red"] {
  background-color: red;
  color: white;
}

#attr4 a[class|="skill"] {
  background-color: green;
  color: white;
}

#attr5 a[class^="sk"] {
  background-color: red;
  color: white;
}

#attr6 a[class$="skill"] {
  background-color: green;
  color: white;
}

#attr7 a[class*="skill"] {
  background-color: yellow;
}
