@media screen and (max-width: 768px) {
  $width: 100%;

  html {
    font-size: 12px;
  }

  .content-center {
    width: $width;
    padding: 0 1%;
    box-sizing: border-box;
  }
  #wrap > header#top-header {
    $height-top-nav: 70px;

    > #top-header-nav {
      height: 100%;

      > a.nav-logo {
        > img {
          box-sizing: border-box;
          height: 70px;
          padding: 15px 0;

          &.logo-big {
            display: none;
          }
          &.logo-small {
            display: inline-block;
          }
        }
      }
      > .nav-menu {
        > li.menu-item {
          font-size: 0.7rem;
          margin: auto 8px;
        }
      }
    }
  }
  #wrap > #index-carousel {
    height: 250px;

    .carousel-item {
      background-size: cover;

      .carousel-content {
        width: $width;
        padding: 0 20px;
      }
    }
  }
  #wrap > #index-news {
    $li-width: $width / 2 - 1%;

    > ul.news-list {
      > li.news-item {
        width: $li-width;

        margin-bottom: 6px;

        &:nth-child(3n-1) {
          margin: auto 0;
          margin-bottom: 6px;
        }
        &:nth-child(2n) {
          margin: auto 1%;
          margin-bottom: 6px;
        }


        > a {
          > .news-image {
            width: 100%;
            margin: 0;
          }
          > .news-content {
            > .news-description {
              max-height: 60px;
            }
          }

        }
      }
    }
  }
  #wrap > #game-info {
    ul.info-list {
      li.info-item {
        width: $width / 2 - 1%;
        margin-right: 2%;
      }
    }
  }

  #wrap > #champion-rotation {
    ul.rotation-list {
      li.rotation-item {
        width: $width / 10 - 0.9%;
        margin-right: 0.9%;
      }
    }
  }
  #wrap > footer {
    > .footer-content {
      padding: 3% 0;
    }
  }
}
