#top-header {
  height: 61px;
}
#top-header > #top-nav {
  padding: 0 20px;
}
#top-header > #top-nav > .nav-list {
  height: 61px;
}
#top-header > #top-nav > .nav-list > li {
  height: 61px;
  line-height: 61px;
  /*position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-filter: blur(0);
  -o-filter: blur(0);
  filter: blur(0);*/


}
#top-header > #top-nav > .nav-list > li > img {
  vertical-align: middle;
}
#top-header > #top-nav > .nav-list > li.item-pipe::after {
  display: inline-block;
  margin: 1px 10px 0 10px;
  content: '|';
  color: #919191;
  vertical-align: top;
}
#top-header > #top-nav > .nav-list > .nav-logo {
  margin-right: 20px;
}
#top-header > #top-nav > #top-nav-left-list {
  float: left;
}
#top-header > #top-nav > #top-nav-right-list {
  float: right;
}
#top-header > #top-nav > #top-nav-right-list > li.margin-right {
  margin-right: 20px;
}
#top-header > #top-nav > #top-nav-right-list > li:hover > a {
  color: #58b5d3;
}
#top-header > #top-nav > #top-nav-right-list > li > a {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  color: #585858;
}

#wrap {

}
#wrap > #main-search {
  position: relative;
  height: 678px;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-image: url(../image/MainSearch-bg.jpg);
}
#wrap > #main-search > #main-search-image {
  height: 100%;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-image: url(../image/MainSearch-img.png);
}
#wrap > #main-search > #main-search-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0,0,0,.6);
}
#wrap > #main-search > #main-search-bottom > #search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap > #main-search > #main-search-bottom > #search-container > input#input-search {
  float: left;
  width: 434px;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  line-height: 50px;
}
#wrap > #main-search > #main-search-bottom > #search-container > button#btn-search {
  float: left;
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  background-color: #3b8de0;
  color: white;
}
