$full-width: 960px;

// colors
$color-a: #585858;
$color-a-hover: #58b5d3;
$color-bg-index-search: #dbecf6;
$color-btn-search: #3b8de0;
$color-btn-search-hover: #2074c8;

// borders
$common-border: 1px solid #d1d1d1;
$color-bg-footer: #2a2a2a;
