<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Facebook</title>
</head>
<body>
	<div>
		{% if user.is_authenticated %}
			<div>
				<img src="{{ MEDIA_URL }}{{ user.img_profile }}" alt="" width="100px">
				<span>{{ user }}님으로 로그인 되었습니다.</span>
				<a href="{% url 'member:logout' %}">로그아웃</a>
			</div>
		{% else %}
			<a href="{% url 'member:login' %}">로그인</a>
		{% endif %}
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>