@import '_variables';

#top-header {
  height: 61px;
  line-height: 61px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      float: left;
    }
  }

  .header-logo {
    float: left;
    padding: {
      left: 10px;
      top: 18px;
    };
    margin: {
      right: 18px;
    };
  }

  > nav {
    height: 100%;

    > .nav-list {
      height: 100%;

      > li {
        > img {
          vertical-align: middle;
        }
      }

      > .nav-pipeline {
        color: #919191;
        margin: 0 8px;
      }
    }

    > ul#top-nav-left-list {
      float: left;
    }
    > ul#top-nav-right-list {
      float: right;

      > li {
        margin-left: 17px;

        &.mgl-30 {
          margin-left: 50px;
        }
        &.item-small {
          font-size: 12px;
        }

        > a {
          color: $color-a;
          text-decoration: none;
          display: inline-block;
          height: 100%;

          &:hover {
            color: $color-a-hover;
          }
        }
      }
    }
  }
}

#index-search {
  position: relative;
  height: 678px;
  background-image: url(../images/MainSearch-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $color-bg-index-search;

  > #index-search-image {
    background-image: url(../images/MainSearch-img.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
  }
  > #index-search-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(0,0,0,.6);

    > #index-search-form {
      width: 534px;
      height: 50px;
      margin: 0 auto;
      margin-top: 30px;

      > input {
        float: left;
        width: 434px;
        height: 50px;
        padding: 0 20px;
        border: none;
        font-size: 14px;
        line-height: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-sizing: border-box;
      }
      > button {
        width: 100px;
        height: 50px;
        border: 0;
        font-size: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        color: white;
        background-color: $color-btn-search;
        transition: all 0.5s;

        &:hover {
          background-color: $color-btn-search-hover;
        }
      }
    }
  }
}

// 가로 960에 좌우 자동정렬 될 요소
#theme-search {
  width: 960px;
  margin: 0 auto;

  // 기본적으로 padding, margin값이 있기때문에 초기화시켜주고
  // 리스트 블릿 스타일 없애줌
  ul#theme-list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;

    // 자식요소가 모두 float속성을 가지므로
    // :after가상선택자에 clear:both속성의 임의요소 삽입
    &:after {
      content: ' ';
      display: block;
      height: 0;
      clear: both;
    }

    // 각 리스트 아이템이 정사각형태(300x300)를 갖고
    // 서로 가로로 정렬되게 하기 위해 float속성 지정
    // 만약에 border가 있을 경우에도 가로크기를 유지하기 위해 box-sizing속성 지정
    // 다음줄과의 간격을 위해 margin-bottom설정
    > li {
      width: 300px;
      height: 300px;
      float: left;
      box-sizing: border-box;
      margin-bottom: 30px;

      // 3n-1번째 아이템마다 좌우에 30px씩 여백을 주기 위해
      // nth-child가상선택자 활용
      &:nth-child(3n-1) {
        background-color: red;
        margin: auto 30px;
      }

      // li의 클래스명에 따라 자식 a요소의 자식 .bg요소의
      // background-image속성을 바꿔줌
      &.pet {
        > a > .bg {
          background-image: url(../images/pet.jpg);
        }
      }
      &.guarantee {
        > a > .bg {
          background-image: url(../images/guarantee.jpg);
        }
      }

      // a요소가 클릭할 전체 영역을 담당
      // 내부에 bg, mask, theme-description을 가짐
      // bg요소는 a요소에 hover속성이 주어질 시 확대되므로, 넘치는 부분을 가리기 위해 overflow속성 지정
      // 원래 a요소는 inline속성이므로 세로값을 가지기 위해 display:block설정
      // a요소를 기준으로 하는 position:absolute속성을 가진 자식요소가 있으므로 position:relative설정
      > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        // a요소에 :hover속성이 주어질 경우
        &:hover {
          // a요소의 .bg자식 요소에 transform: scale을 사용해서 전체 크기를 늘림
          & > .bg {
            transform: scale(1.2);
          }
          // a요소의 .mask자식 요소의 rgba값을 조절 (좀 더 불투명하게)
          & > .mask {
            background-color: rgba(0,0,0,0.5);
          }
        }

        // 백그라운드 이미지를 갖는 요소, 부모의 전체 사이즈를 가짐
        // a요소에 hover속성이 주어질 경우 자연스럽게 scale변환하기위해 transition-duration설정
        .bg {
          width: 100%;
          height: 100%;
          transition-duration: 1s;
        }
        // 반투명 마스크를 갖는 요소, 위의 .bg요소 위에 겹치기 위해 position:absolute값을 가짐
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,.4);
        }
        // 테마의 설명텍스트 요소
        // 부모를 기준으로 가로/세로 가운데 위치하여야 하므로
        // 가로정렬은 width:100%와 text-align:center를 사용
        // 세로정렬은 top:0과 transform:translateY(-50%)를 사용
        .theme-description {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          color: white;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

// 가로 전체를 차지하며, block요소이므로 width값은 필요없음
// 배너이미지는 자식 div요소의 background-image로 설정
// 배너이미지의 높이가 100px이므로 height값 지정
.banner {
  height: 100px;
  background-color: black;
  margin-bottom: 50px;

  // background-image로 배너이미지를 갖는다
  // 가운데 정렬 및 반복없음 설정
  .banner-image {
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;

    // 가진 클래스명에 따라 이미지 url변경
    &.img1 {
      background-image: url(../images/banner.png);
    }
  }
}

#wrap > .sitemap {
  width: $full-width;
  margin: 0 auto;

  // 5칸의 col을 가지며, 계산은 Sass에서 자동으로 하게 함
  // 가로정렬을 위해 float:left 설정
  .sitemap-col {
    width: ($full-width / 5);
    float: left;

    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;

      > li {
        line-height: 1.9;

        &.title {
          font-size: 1.21rem;
          font-weight: 700;
          color: #585858;
        }

        > a {
          color: #585858;
          text-decoration: none;
        }
      }
    }
  }
}

// 인덱스 페이지 하단 네비게이션 메뉴
nav#index-bottom-nav2 {
  // 메뉴 상, 하단에 1px 외곽선
  border-top: $common-border;
  border-bottom: $common-border;

  // 전체 가로중 메뉴가 차지하는 영역은 가운데 960px만
  // 리스트의 왼쪽에 1px border설정
  > ul {
    width: $full-width;
    margin: 0 auto;
    border-left: $common-border;

    // 각 리스트아이템이 가로로 정렬되도록 float:left설정
    // width값은 메뉴의 개수만큼(7개)으로 나눈 값
    // 각 리스트아이템의 우측에 border설정
    // border값이 각각의 크기에 영향주지 않도록 box-sizing설정
    > li {
      float: left;
      width: $full-width / 7;
      border-right: $common-border;
      box-sizing: border-box;

      // 리스트아이템에 마우스 올릴 경우 배경색 변경
      &:hover {
        background-color: #e7e7e7;
      }

      // 가로를 꽉 채우기 위해 display:inline-block설정
      // 높이 49px에서 텍스트가 수직가운데 정렬되게 하기위해 line-height값 설정
      > a {
        display: inline-block;
        width: 100%;
        height: 49px;
        line-height: 49px;
        color: $color-a;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
      }
    }
  }
}

footer {
  background-color: $color-bg-footer;
  height: 268px;
  font-size: 11px;
  line-height: 1.6;

  // 전체 가로에서 960px만 차지하는 컨테이너
  .footer-content {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    color: #919191;

    // 이미지 가운데 정렬은 px값으로 계산
    > .footer-ci-image {
      margin-top: 90px;
    }
    // 수직가운데 정렬을 위한 설정, 우측에서부터 시작하게 하기 위해 float:right설정
    > .content-list-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      float: right;

      // 각 요소가 가로로 쌓이며, bottom을 기준으로 세로정렬 하기 위해 display:inline-block설정
      // vertical-align: bottom으로 인라인요소간의 정렬 설정
      ul {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 10px;

        > li.title {
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}

// footer {
//   background-color: $color-bg-footer;
//   height: 268px;
//   font-size: 11px;
//   line-height: 1.6;
//
//   .footer-content {
//     position: relative;
//     width: 960px;
//     height: 88px;
//     margin: 0 auto;
//     top: 50%;
//     transform: translateY(-50%);
//
//     img.footer-logo {
//       position: absolute;
//       left: 0;
//       top: 0;
//     }
//     .footer-text {
//       position: relative;
//       left: 120px;
//       color: white;
//
//       ul {
//         position: relative;
//         display: inline-block;
//         vertical-align: bottom;
//         list-style-type: none;
//         padding: 0;
//         margin: 0;
//       }
//     }
//   }
// }
