@import "variables";

.clearfix {
  &:after {
    content: '';
    clear: both;
    height: 0px;
    display: block;
  }
}
.btn {
  padding: 0;
  background-color: transparent;
  border: 1px solid $color-border;
  padding: 2px 6px;
  border-radius: 2px;
}
form.inline {
  display: inline-block;
}
