<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Instagram</title>
</head>
<body>
	<div>
		{% if user.is_authenticated %}
			{{ user.username }}님 환영합니다!
		{% else %}
			로그인 해주세요
		{% endif %}
	</div>
	{#	html:5[tab]  #}
	<header>
		<nav>
			<h1>Instagram</h1>
			<ul>

			</ul>

		</nav>
	</header>
	{% block content %}
	{% endblock %}
</body>
</html>