body {
  font-size: 20px;
}
.ori {
  font-size: 40px;
}
.vitem {
  font-size: 12px;
}
.item1 {
  vertical-align: baseline;
}
.item2 {
  vertical-align: sub;
}
.item3 {
  vertical-align: super;
}
.item4 {
  vertical-align: top;
}
.item5 {
  vertical-align: text-top;
}
.item6 {
  vertical-align: bottom;
}
.item7 {
  vertical-align: text-bottom;
}
.item8 {
  vertical-align: middle;
}
