{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>EC2 Deploy!</title>
	<style>
		html, body {
			font-size: 0;
		}
		img {
			width: calc(100%/3);
			display: inline-block;
			vertical-align: top;
		}
	</style>
</head>
<body>
<img src="{% static 'images/01.jpg' %}" alt="">
<img src="{% static 'images/02.jpg' %}" alt="">
<img src="{% static 'images/03.jpg' %}" alt="">
<img src="{% static 'images/04.jpg' %}" alt="">
<img src="{% static 'images/05.jpg' %}" alt="">
<img src="{% static 'images/06.jpg' %}" alt="">
<img src="{% static 'images/07.jpg' %}" alt="">
<img src="{% static 'images/08.jpg' %}" alt="">
<img src="{% static 'images/09.jpg' %}" alt="">
<img src="{% static 'images/10.jpg' %}" alt="">
</body>
</html>