appdirs==1.4.0
appnope==0.1.0
decorator==4.0.11
Django==1.10.5
django-appconf==1.0.2
django-compressor==2.1.1
django-debug-toolbar==1.6
django-extensions==1.7.6
django-libsass==0.7
ipython==5.2.2
ipython-genutils==0.1.0
libsass==0.12.3
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
rcssmin==1.0.6
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.2
traitlets==4.3.1
wcwidth==0.1.7
