#top-header {
  height: 61px;
  line-height: 61px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
#top-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#top-header ul > li {
  float: left;
}
#top-header > .header-logo {
  float: left;
  padding-left: 10px;
  padding-top: 18px;
  margin-right: 18px;
}
#top-header > nav {
  height: 100%;
}
#top-header > nav > .nav-list {
  height: 100%;
}
#top-header > nav > ul#top-nav-left-list {
  float: left;
}
#top-header > nav > ul#top-nav-right-list {
  float: right;
}
