@import "variables";

.clearfix {
  &:after {
    content: '';
    clear: both;
    height: 0px;
    display: block;
  }
}
.btn {
  background-color: transparent;
  border: 1px solid $color-border;
  padding: 3px 8px;
  border-radius: 2px;
  text-decoration: none;
}
.btn-pagination {
  font-size: 16px;
  background-color: $color-btn-bg-gray;
  color: white;
  padding: 4px 12px;
}
.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paginator {
  text-align: center;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
input[type=text] {
  padding: 3px;
}
form.inline {
  display: inline-block;
}
p {
  margin: 0;
  padding: 0;
}


ul.video-list {
  li.video-item {
    position: relative;
    height: 150px;
    margin-bottom: 10px;

    img.item-thumbnail {
      display: inline-block;
      width: 200px;
      height: 150px;
      border-radius: 3px;
    }
    .item-content {
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 210px;
      width: 590px;
      height: 150px;
      display: inline-block;
      overflow: hidden;

      .item-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
      }
      .item-desc {
        margin-bottom: 5px;
      }
      .item-date {
        color: $color-text-gray;
      }
    }
  }
}
