{% extends 'common/base.html' %}

{% block content %}
<div class="post-list-container">
  {% for post in posts %}
  <article class="post">
    <header class="post-header">
      <span class="header-username">{{ post.author.username }}</span>
      <span class="header-date">{{ post.created_date }}</span>
    </header>
    <div class="post-image-container">
      <img src="{{ MEDIA_URL}}{{ post.photo}}" alt="" class="post-image">
    </div>
    <div class="post-bottom-container">
      <div class="post-content">{{ post.content|linebreaksbr|truncatechars:100 }}</div>
      <div class="post-like-users">
        {% if post.like_users.all %}
          {% for user in post.like_users.all %}
            <strong>{{ user.username }}</strong>
            {% if not forloop.last %}<strong>, </strong>{% endif %}
          {% endfor %}
          님이 좋아합니다.
        {% endif %}
      </div>
      <div class="post-comments">
        {% if post.comment_set.all %}
          {% for comment in post.comment_set.all %}
            <div class="post-comment">
              <span class="comment-author">{{ comment.author.username }}</span>
              <span class="comment-content">{{ comment.content }}</span>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="post-comment-form-container clearfix">
	      <form action="{% url 'post:like_toggle' post_id=post.id %}" method="POST" class="form-like">{% csrf_token %}
		      <button
		        type="submit"
		        class="btn-like
		          {% if user in post.like_users.all %}
		            sprite-heart-full
		          {% else %}
		            sprite-heart-empty
		          {% endif %}">
		      </button>
	      </form>

	      <form action="{% url 'post:comment_add' post_id=post.id %}" method="POST" class="form-comment">{% csrf_token %}
          <input
	          type="text"
	          placeholder="댓글 달기..."
	          class="input-comment"
            name="content">
	      </form>
      </div>
    </div>
  </article>
  {% endfor %}

	<a href="{% url 'post:add' %}" class="btn-add-post">+ Add Post</a>
</div>

{% endblock %}

{#각 post에 연결된 Comment object list를 출력#}
