html {
  font-size: 16px;
}
body {
  font-size: 0.9rem;
  color: #373a3c;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #0275d8;
}

.modified-date {
  text-align: right;
}

.wiki-link {

}
.wiki-link > .img-arrow {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

table.wiki-table {
  
}
