#wrap > header#top-header, #wrap > #index-news, #wrap > #game-info, #wrap > #champion-rotation, #wrap > footer .footer-content {
  width: 960px;
  margin: 0 auto; }

#wrap > #index-news, #wrap > #game-info, #wrap > #champion-rotation {
  margin-bottom: 50px; }

#wrap > header#top-header {
  height: 70px; }
  #wrap > header#top-header > #top-header-nav {
    height: 100%;
    line-height: 70px; }
    #wrap > header#top-header > #top-header-nav > a.nav-logo {
      display: inline-block;
      height: 100%; }
      #wrap > header#top-header > #top-header-nav > a.nav-logo > img {
        padding: 10px 0;
        height: 50px; }
    #wrap > header#top-header > #top-header-nav > .nav-menu {
      float: right; }
      #wrap > header#top-header > #top-header-nav > .nav-menu > li.menu-item {
        float: left;
        font-size: 0.9rem;
        font-weight: bold;
        margin: auto 15px; }
        #wrap > header#top-header > #top-header-nav > .nav-menu > li.menu-item > a {
          color: #303030; }

#wrap > #index-carousel {
  height: 381px;
  background-color: black; }
  #wrap > #index-carousel .carousel-item {
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat; }
    #wrap > #index-carousel .carousel-item.lux {
      background-image: url(../images/bg_main_carousel_lux.jpg); }
    #wrap > #index-carousel .carousel-item .carousel-content {
      position: relative;
      width: 960px;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      color: #ccc; }
      #wrap > #index-carousel .carousel-item .carousel-content .carousel-title {
        font-size: 1.7em;
        margin: 5px 0;
        color: #fafafa; }
      #wrap > #index-carousel .carousel-item .carousel-content .carousel-description {
        color: #ddd;
        margin-bottom: 20px; }
      #wrap > #index-carousel .carousel-item .carousel-content .carousel-btn {
        border: 1px solid #ddd;
        color: #ddd;
        padding: 5px 20px;
        background-color: transparent;
        border-radius: 2px;
        transition-duration: 0.3s; }
        #wrap > #index-carousel .carousel-item .carousel-content .carousel-btn:hover {
          background-color: #ddd;
          color: black; }

#wrap > #index-news h3.news-title {
  margin-bottom: 5px; }

#wrap > #index-news > ul.news-list {
  width: 100%; }
  #wrap > #index-news > ul.news-list > li.news-item {
    position: relative;
    float: left;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 300px;
    height: 320px;
    margin-bottom: 30px; }
    #wrap > #index-news > ul.news-list > li.news-item:nth-child(3n-1) {
      margin: auto 30px; }
    #wrap > #index-news > ul.news-list > li.news-item > a > .news-image {
      width: 300px;
      margin-left: -1px;
      margin-top: -1px; }
    #wrap > #index-news > ul.news-list > li.news-item > a > .news-content {
      padding: 15px; }
      #wrap > #index-news > ul.news-list > li.news-item > a > .news-content > .news-title {
        margin: 0;
        color: #257372; }
    #wrap > #index-news > ul.news-list > li.news-item > a > .news-info {
      position: absolute;
      width: 100%;
      bottom: 0;
      box-sizing: border-box;
      padding: 5px 15px;
      font-size: 0.7rem;
      color: #888; }
      #wrap > #index-news > ul.news-list > li.news-item > a > .news-info > .news-type {
        float: right; }

#wrap > #game-info ul.info-list li.info-item {
  float: left;
  width: 475px;
  margin-right: 10px; }
  #wrap > #game-info ul.info-list li.info-item.last {
    margin-right: 0; }
  #wrap > #game-info ul.info-list li.info-item img.info-image {
    width: 100%; }
  #wrap > #game-info ul.info-list li.info-item p.info-title {
    margin: 0;
    font-size: 1.1em; }

#wrap > #champion-rotation ul.rotation-list li.rotation-item {
  float: left;
  width: 86px;
  margin-right: 11px; }
  #wrap > #champion-rotation ul.rotation-list li.rotation-item.last {
    margin-right: 0; }
  #wrap > #champion-rotation ul.rotation-list li.rotation-item img.rotation-icon {
    width: 100%; }
  #wrap > #champion-rotation ul.rotation-list li.rotation-item p.rotation-name {
    font-size: 1.0rem;
    margin: 0;
    text-align: center; }

#wrap > footer {
  background-color: #eee;
  font-size: 0.8rem;
  text-align: center;
  color: #8e8e8e; }
  #wrap > footer .footer-content {
    padding: 15px 0; }

/*# sourceMappingURL=index.nested.css.map */