{% extends 'common/base.html' %}

{% block content %}
	<div class="bookmark-list-container">
		<ul class="video-list">
			{% for bookmark in bookmarks %}
			<li class="video-item">
				<img src="{{ bookmark.video.url_thumbnail }}" alt="" class="item-thumbnail">
				<div class="item-content">
					<div class="vcenter ellipsis">
						<a href="" class="item-title">{{ bookmark.video.title }}</a>
						<p class="item-desc">{{ bookmark.video.description }}</p>
						<p class="item-date">게시일자 : {{ bookmark.video.published_date }}</p>
						<p class="item-date">북마크일자 : {{ bookmark.created_date }}</p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}