{% extends 'common/base.html' %}

{% block content %}
<div class="search-container">
  <form action="" class="search-form">
  	<input type="text" name="keyword">
  	<button type="submit" class="btn">Search!</button>
  </form>

  <ul class="video-list">
  	{% for video in videos %}
  	<li class="video-item">
  		<img src="{{ video.url_thumbnail }}" alt="" class="item-thumbnail">
      <div class="item-content">
        <div class="vcenter ellipsis">
      		<a href="https://www.youtube.com/watch?v={{ video.youtube_id }}" class="item-title">{{ video.title }}</a>
      		<p class="item-desc">{{ video.description }}</p>
      		<p class="item-date">{{ video.published_date }}</p>
        </div>
      </div>
  	</li>
  	{% endfor %}
  </ul>

	<div>
		{% if prev_page_token %}
		<form action="">
			<input type="hidden" name="keyword" value="{{ keyword }}">
			<input type="hidden" name="page_token" value="{{ prev_page_token }}">
			<button type="submit" class="btn">Prev</button>
		</form>
		{% endif %}

		{% if next_page_token %}
		<form action="">
			<input type="hidden" name="keyword" value="{{ keyword }}">
			<input type="hidden" name="page_token" value="{{ next_page_token }}">
			<button type="submit" class="btn">Next</button>
		</form>
		{% endif %}





	</div>
</div>
{% endblock %}
