{% extends 'common/base.html' %}

{% block content %}
<div class="search-container">
  <form action="" class="search-form">
  	<input type="text" name="keyword">
  	<button type="submit" class="btn">Search!</button>
  </form>

  <ul class="video-list">
  	{% for video in videos %}
  	<li class="video-item">
  		<img src="{{ video.url_thumbnail }}" alt="" class="item-thumbnail">
      <div class="item-content">
        <div class="vcenter ellipsis">
      		<a href="https://www.youtube.com/watch?v={{ video.youtube_id }}" class="item-title">{{ video.title }}</a>
      		<p class="item-desc">{{ video.description }}</p>
      		<p class="item-date">{{ video.published_date }}</p>

	        <form action="{% url 'video:add_bookmark' %}" method="POST">{% csrf_token %}
		        <input type="hidden" name="title" value="{{ video.title }}">
		        <input type="hidden" name="description" value="{{ video.description }}">
		        <input type="hidden" name="published_date" value="{{ video.published_date }}">
		        <input type="hidden" name="youtube_id" value="{{ video.youtube_id }}">
		        <input type="hidden" name="path" value="{{ request.get_full_path }}">
		        <button type="submit">Add Bookmark!</button>
	        </form>
        </div>
      </div>
  	</li>
  	{% endfor %}
  </ul>

	<div class="btn-container">
		{% if prev_page_token %}
		<form action="" class="inline">
			<input type="hidden" name="keyword" value="{{ keyword }}">
			<input type="hidden" name="page_token" value="{{ prev_page_token }}">
			<button type="submit" class="btn btn-pagination">Prev</button>
		</form>
		{% endif %}

		{% if next_page_token %}
		<form action="" class="inline form-right">
			<input type="hidden" name="keyword" value="{{ keyword }}">
			<input type="hidden" name="page_token" value="{{ next_page_token }}">
			<button type="submit" class="btn btn-pagination">Next</button>
		</form>
		{% endif %}





	</div>
</div>
{% endblock %}
